@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body {
  font-family: Arial, Helvetica, sans-serif;
}
 */



 /* Custom Scrollbar Styling */
body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #4d4c4c;
  /* border-radius: 10px;  */
  border: 3px solid #f1f1f1; 
}

body {
  overflow-x: hidden;
}



