@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body {
  font-family: Arial, Helvetica, sans-serif;
}
 */



 /* Custom Scrollbar Styling */
body::-webkit-scrollbar {
  width: 5px; 
}

body::-webkit-scrollbar-track {
  background: #ffe4c4;
}

body::-webkit-scrollbar-thumb {
  background-color: #e69b51;
  /* border-radius: 10px;  */
  /* border: 3px solid #f1f1f1;  */
}

body {
  overflow-x: hidden;
}


/* to remove the default scrollbar present in the icon-container above the carousel */

/* .icon-container::-webkit-scrollbar {
  display: none;
}
 */


